@model IslamiTexts.Models.Verse
@using IslamiTexts.Models

@{
    ViewBag.Title = "Verse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div class="container">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Verses</div>
            @*<div class="panel-body">
                    <p>...</p>
                </div>*@

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item arabic-verse">@Model.ArabicText</li>
                <li class="list-group-item">@Model.TranslatedTexts[0].Text</li>
            </ul>

        </div>
    </div>
    <div class="col-md-6">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#commentaries" data-toggle="tab">Commentaries</a></li>
            <li role="presentation"><a href="#translations" data-toggle="tab">Translations</a></li>
        </ul>

        <div class="tab-content">
            <div id="commentaries" class="tab-pane fade in active">
                @{
                    string activeClass = @"active";
                }
                <br />

                <ul class="nav nav-pills">
                    @foreach (VerseCommentary verseCommentary in @Model.VerseCommentaries)
                    {
                        if (verseCommentary.Notes.Any())
                        {
                            int verseCommentatorNo = (int)verseCommentary.Commentator;
                            <li role="presentation" class="@activeClass"><a href="#commentary-@verseCommentatorNo" data-toggle="tab">@verseCommentary.Commentator</a></li>
                            activeClass = null;
                        }
                    }
                </ul>

                <div class="tab-content">
                    <br/>
                    @{activeClass = "active"; }
                    @foreach (VerseCommentary verseCommentary in @Model.VerseCommentaries)
                    {
                        bool hasNotes = false;
                        int verseCommentatorNo = (int)verseCommentary.Commentator;
                        if (verseCommentary.Notes.Any())
                        {
                            hasNotes = true;
                            <div id="commentary-@verseCommentatorNo" class="tab-pane fade in @activeClass">
                                @{activeClass = null;}
                                <div class="panel panel-info">
                                    @*<div class="panel-heading">
                                        @Translators.GetName(verseCommentary.Commentator)
                                    </div>*@
                                    <div class="panel-body">
                                        <p>@Html.Raw(verseCommentary.Text.Replace(@"{{", @"<sup>").Replace(@"}}", @"</sup>"))</p>
                                    </div>

                                    <!-- List group -->
                                    <ul class="list-group">
                                        @foreach (CommentaryNote note in @verseCommentary.Notes)
                                        {
                                            <li class="list-group-item"><sup>@note.Id</sup> @note.Text</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }

                        if (!hasNotes)
                        {
                            <p>There are no commentaries for this verse.</p>
                        }
                    }
                </div>
            </div>
            <div id="translations" class="tab-pane fade">
                <br />
                <ul class="list-group">
                    @foreach (TranslatedText translatedText in @Model.TranslatedTexts)
                    {
                        <li class="list-group-item">@translatedText.Text 
                            <nobr>&mdash; @Translators.GetName(translatedText.Translator)</nobr></li>
                    }
                </ul>

                @*@foreach (TranslatedText translatedText in @Model.TranslatedTexts)
                {
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            @Translators.GetName(translatedText.Translator)
                        </div>
                        <div class="panel-body">
                            @translatedText.Text
                        </div>
                    </div>
                }*@
            </div>
        </div>
    </div>
</div>
