@model IEnumerable<IslamiTexts.Models.Surah>
@using IslamiTexts.Common.Web;

@{
    ViewBag.Title = "Home Page";
    int noOfCols = 4;
    string surahColClass = @"col-xs-6 col-sm-3";
}

<br/>
<div class="container">
    @if (Model.Any())
    {
        int i = 0;
        foreach (var surah in Model)
        {
            if (i % noOfCols == 0)
            {
                @Html.Raw(@"<div class=""row"">")
            }



            <div class="@surahColClass">

                <div class="list-group  text-center">
                    @{
                    string link = Links.GetVerseLink(@surah.SurahNo, 1, false);
                    }
                    <a href="@link"
                       class="list-group-item list-group-item-action">
                        <p class="arabic-surah">@surah.ArabicNames.FirstOrDefault()</p>
                        <p>@surah.SurahNo @surah.EnglishNames.FirstOrDefault()</p>
                    </a>
                </div>
            </div>

            if (i % noOfCols == noOfCols - 1)
            {
                @Html.Raw(@"</div>")
            }
            i++;
        }
    }
</div>
